/* COLORS */
:root{
    --black: #243046;
    /* --white: #EEE7EA; */
    --white: #F0F0F0;
}



/* TYPOGRAPHY */
html {font-size: 100%;}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
h1, h2 {
    margin: 1rem 0px 1.2rem 0px;
    font-weight: 700;
    line-height: 1.2;
}
h1 {font-size: 3rem;}
h2 {font-size: 1.4rem;}
a{
    color:var(--white);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
a:hover {opacity: 0.8;}
p {
    margin-top:0px;
    margin-bottom: 1rem;
}
ul{
    padding-left:2rem;
}



/* STRUCTURE */
body{
    background-color: var(--black);
    color: var(--white);
    margin: 6% 8%;
}
main{
    width:100%;
}




/* MOBILE STRUCTURE */
@media only screen and (max-width: 800px) {
    body{margin:12% 4%;}
    li{
        margin-bottom: 1.2rem;
        line-height:1.2;
    }
}



/* PRINT FORMAT */
@media print{
    @page :footer {display: none;}
    @page :header {display: none;}
    @page {
        size:auto;
        margin: 2%;
    }
    :root{
        --black: #FFFFFF;
        --white: #243046;
    }
    
}



/* NEWSLETTER (on map subdomain, pulls this file in externally) */
#newsletter .spacer{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
#newsletter label{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
    display: block;
    line-height: 1.3;
    width: 100%
}
#newsletter input, #newsletter textarea, #newsletter select{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
    padding: 0.5rem;
    border: none;
    margin-top: 0.25rem;
    font-size: 1rem;
}
#newsletter-form{
    margin-left: calc(20% - 5rem);
    padding: 4rem 5rem;
    max-width: 60%;
    margin-top:5rem;
}
#newsletter button{
    color: var(--black);
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem 0.75rem;
}
@media only screen and (max-width: 800px) {
    #newsletter-form{
        padding: 1rem;
        width: calc(100% - 1rem);
        max-width: 100%;
        margin: 0px;
    }
    .spacer{
        display: block;
        visibility: hidden;
    }
}