/* colors */
:root{
    --black: #292F33;
    --white: #F5F8FA;
}

h1{font-size: 3.157rem !important;}
input{padding: 1rem 1.2rem !important;}

footer{
    margin-top:6rem;
}
footer.fixed{
    margin-top:12rem;
}
header{
    background-color: var(--black);
    padding-top: 2rem;
}
header.fixed{
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid var(--white);
    background-color: var(--black);
    width:100%;
    padding: 0px 18%;
}
body{
    margin-top: 8.5rem;
}

#sitePrompt:after {
    content: "";
    display: table;
    clear: both;
}

.card{
    margin-bottom:2rem !important;
}

h1, h2, h3, h4, h5 {
    margin: 1.2rem 0 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.3;
}

.icon{
    height: 1.8rem;
    width: 1.8rem;
    vertical-align: -0.4rem;
    margin-right: 0.5rem;
}

#pass h3, .bento.pass{
    background-color: #80BD3122;
}

#fail h3, .bento.fail{
    background-color: #CE4E3B22;
}

#info h3{
    background-color: #CE943822;
}

#pass .description{
    background-color: #80BD3111;
}

#fail .description{
    background-color: #CE4E3B11;
}

#info .description, .bento.info{
    background-color: #CE943811;
}

h3{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.description{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.accordion{
    border: transparent solid 2px;
}

.accordion:hover{
    cursor:pointer;
    border: var(--black) solid 2px;
}

h3[aria-expanded='true']{
    border-radius: 0.5rem 0.5rem 0px 0px;
    margin-bottom: 0px;
}

h3[aria-expanded='true'] + .accordion-panel{
    border-radius: 0px 0px 0.5rem 0.5rem;
}

.accordion-indicator{
    float:right;
}

ul.tags{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

ul.tags li{
    display:inline;
    padding: 0px;
    margin: 0px 1rem 0px 0px;
    font-size:0.75rem;
    border-bottom: 2px dotted var(--black);
    font-weight: 700;
}

#sitemapTable th, #sitemapTable td {
    border:1px solid var(--black);
    text-align: left;
    padding: 0.5rem;
    line-height: 1.2;
}

#sitemapTable td:first-child {
    text-align: center;
    padding: 0px;
}

#sitemapTable td:first-child img {
    width: 1.5rem;
    vertical-align: -0.5rem;
}

#sitemapTable th {
    border:2px solid var(--black);
}

#sitemapTable{
    width:100%;
    border-collapse: collapse;
}

#sitemapTable th{background-color:#CE943822;}
#sitemapTable tr:hover {background-color: #CE943811;}
#sitemapTable #sitemapHeadings:hover {background-color: initial!important;}

#browserPreview, #searchPreview, #sharePreview{
    border: 1px solid var(--black);
}

#browserPreview {
    background-color: var(--white);
    font-weight: 400;
    width: fit-content;
    max-width: 50%;
    padding: 0.5rem 1rem;
    border-radius: 1rem 1rem 0px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#browserPreview img{
    display: inline-block;
    width: 1.2rem;
    vertical-align: -0.25rem;
    margin-right: 0.5rem;
}

#searchPreview {
    width: 70%;
    background-color: var(--white);
}
#searchPreview p{
    padding: 0px 1rem 0px 1rem;
    margin-top: 0.2rem;
    font-size: 0.75rem;
}
#searchPreview span{
    display: block;
    padding: 1rem 1rem 0px 1rem;
    font-size: 0.75rem;
}
#searchPreview strong{
    padding: 0.2rem 1rem 0px 1rem;
    color: #1a0dab;
    display: block;
    font-weight: 400;
}

#sharePreview img{
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
#sharePreview {
    width: 70%;
    background-color: var(--white);
}
#sharePreview p{
    padding: 0px 1rem 0px 1rem;
    margin-top: 0.2rem;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#sharePreview strong{
    padding: 1rem 1rem 0px 1rem;
    display: block;
}

.bento{
    display: inline-block;
    border: var(--black) 2px solid;
    padding: 1.5rem;
    border-radius: 4px;
    min-width: 24%;
    margin: 0.5rem 1% 0.5rem 1%;
    text-align: center;
    font-size: 0.75rem;
}

.bento .icon{
    display:inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0px;
    margin-bottom: 0.6rem;
}

.bento strong{
    display:block;
    font-size:1rem;
}

header.fixed h1{
    float:left;
    margin-right: 2rem;
}

#reportOptions{
    float:right;
    margin-right: 36%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

#reportOptions button{
    display: inline-block;
    font-size: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-top: 0rem;
}

#reportOptions p{
    font-size: 0.75rem;
    margin-bottom: 0.2rem;
    margin-top: 0rem;
}

#filterTags div{
    display: inline-block;
    margin-right: 2rem;
}

#filterSections label{
    display: inline;
    font-weight: 400;
    margin-right: 2rem;
}

#filterTags label{
    font-weight: 400;
    width: auto;
}

#filterTags input{
    display: inline-block;
    width: auto;
}

#filterTags fieldset{
    border: 0px;
    padding: 0px;
    margin-bottom: 1rem;
}

#filters h2{
    padding-left: 0px;
    margin-bottom: 0.5rem;
    font-size: 1.333rem;
}

.close-filters {
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
}
.close-filters:hover,
.close-filters:focus {
    color: var(--white);
    background-color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.colorDot{
    display: inline-block;
    height: 3rem;
    width: 6rem;
    border: solid 2px var(--black);
    border-radius: 20rem;
}

code{
    font-size: 0.9rem;
    background-color: var(--white);
}

.bento img{
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.near{
    font-weight: 300;
}

.code-list li{
    line-height: 1.2;
    margin-bottom: 1rem;
}

.guide{
    color:var(--black);
    text-decoration: none;
    display:block;
    margin-top:1rem;
    margin-bottom:1rem;
    border: 2px solid transparent;
    padding: 1rem 2rem;
    width: fit-content;
    border-radius: 0.4rem;
    font-weight: 700;
}

.guide:hover{
    border: 2px solid var(--black);
}

/*loading animations*/
.spinner>div{width:18px;height:18px;background-color:var(--white);border-radius:100%;display:inline-block;-webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;animation:sk-bouncedelay 1.4s infinite ease-in-out both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes sk-bouncedelay{0%,100%,80%{-webkit-transform:scale(0)}40%{-webkit-transform:scale(1)}}@keyframes sk-bouncedelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}
